/* Counter1.css */

.counter-box {
  text-align: center;
  margin-top: 60px;
  padding: 30px;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.counter-box h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.counter-box button {
  padding: 10px 18px;
  font-size: 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-box button:first-of-type {
  background-color: #4caf50;
  color: white;
}
.counter-box button:nth-of-type(2) {
  background-color: #008cba;
  color: white;
}
.counter-box button:last-of-type {
  background-color: #f44336;
  color: white;
}
