.chinnu{
    color:blue;
    font-size:20px;
    text-align: center;
     background-color: #f2f2f2;
}
.chinnu input{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.chinnu button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}