body{
    font-family: Arial, sans-serif;
    
}
h1{
    text-align: center;
    color: white;
}
.cal{
    text-align: center;
    border: 2px solid black;
    width: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #f2f2f2;

}
.h{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    
}
.result{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.border{
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #e6e6e6;
}
